.idea
vendor/
tests/tmp/
server-services-phantom.pid
start-services.sh.log
server-services.pid
tests/_output
#Acceptance tests should only be pulled in from the repositories containing them.
tests/acceptance
codeception.yml
tests/_support/Page/*
!tests/_support/Page/.gitignore
src/helpers/*
!src/helpers/.gitignore
tests/_support/_generated/*
!tests/_support/_generated/.gitignore