.idea
vendor/
tests/tmp/
server-services-phantom.pid
start-services.sh.log
server-services.pid
tests/_output
#Acceptance tests should only be pulled in from the repositories containing them.
tests/acceptance