# Travis CI configuration file.

language: php

# Configure caches
cache:
  apt: true

# 5.6 is required for Codeception
php:
  - 5.6
  - 7.0

# TODO Run against regular and multisite
#env:
#  - WP_MULTISITE=0
#  - WP_MULTISITE=1

sudo: false

matrix:
  fast_finish: true

before_script:
  # get rid of xdebug! don't need it.
  - phpenv config-rm xdebug.ini
  # run composer to install what's needed
  - composer install --prefer-source
  # start services (webserver and webdriver)
  - source server-services start
  # setup tests
  - source setup-tests.sh

script:
  - vendor/bin/wpcept run